*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c1f2f9;
}

body{
    background-repeat: repeat;
    background-color:rgb(183, 255, 250);
}

h4{
    font-size: 35pt;
    font-family: fantasy;
    border: 5px solid rgb(100, 100, 255); 
    background: rgb(192, 248, 192);
    text-align: center;
    margin-left: 450px;
    margin-right: 25px;
    margin-top: 0px;
    display:block;
}

h3{
    font-size: 14pt;
    background: rgb(192, 248, 192);
    text-align: center;
    display:block;
    font-family:'Times New Roman';
}

h2{
    font-size: 40pt;
    font-family:'Times New Roman';
    border: 5px solid rgb(247, 128, 9); 
    background: rgb(254, 211, 70);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px; 
}


section{
    width: 1300px;
    padding: 70px;
    background: rgb(147, 213, 251);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

summary{
    background: rgb(206, 182, 249);
    color: black;
    padding: 23px;
    cursor: pointer;
    text-align: center;
    list-style: none;
    font-size: 25pt;
    font-family: fantasy;
    border: 5px solid rgb(100, 100, 255);
    font-weight: bold;
}

h5{
    font-size: 20pt;
    font-family: fantasy;
    text-align: end;
    margin-top: 5px;
    margin-right: 10px;
}
 
h1{
    margin: 20px;
    text-align: center;
    line-height: normal;
    color:chocolate;
    font-size: 50pt;
    font-family: fantasy;
    border-bottom: 5px solid #d90004;
    padding-bottom: 2px;
    margin-bottom: 30px; 
}

pre{
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 20pt;
    background: #9ef1fe;
}

p{
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 30px;
    font-size: 20pt;
    font-family:'Times New Roman';
	font-family: 'Roboto', sans-serif;
}

b{
    background: rgb(255, 255, 255, 0);
    color: rgb(107, 59, 86);
}

.libros-titulo{
    background: rgb(164, 179, 252);
    color: black;
    padding: 23px;
    cursor: pointer;
    text-align: center;
    list-style: none;
    font-size: 30pt;
    font-family: fantasy;
    border: 5px solid rgb(62, 62, 250);
    font-weight: bold; 

}


.h2libros{
    font-size: 40pt;
    font-family:'Times New Roman';
    border: 5px solid rgb(247, 128, 9); 
    background: rgb(254, 211, 70);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
}

.poemas{
    font-size: 40pt;
    font-family:'Times New Roman';
    border: 5px solid rgb(247, 128, 9); 
    background: rgb(254, 211, 70);
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

.seccionfondo{
    width: 1270px;
    padding: 70px;
    background: rgb(147, 213, 251);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left:20px;
    margin-right:20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divinicio{
    width: 1450px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.portada{
    float: right;
    margin-right: 30px;
    margin-left: 30px;
    width: 400px; 
    height: 570px;
    image-resolution: 4000px;
}

.line{
    border-top: 5px solid #d90004;
    height: 5px;
    max-width: 2000px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.principal{
    width: 1450px;
    padding: 70px;
    background: rgb(118, 222, 194);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.libros{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    width: 400px; 
    height: 570px;
    image-resolution: 4000px; 
    display: block;
}

.texto-libro{
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 45px;
    font-size: 20pt;
    font-family: Arial; 
}

.image-container {
    width: 300px; /* Set desired container size */
    height: 300px;
    background-color: rgb(208, 160, 253);
}

.image-container img {
    background-color: rgb(208, 160, 253);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene todas iguales, pero si no es el mismo formato se recorta */
    /*object-fit: contain; Mantiene la imagen entera visible, si no es del mismo formato no queda igual */
}

audio{
    background-color: #f1a8e100; 
}

.marcoAudio{
    height: 150px;
    font-size: 15pt;
    font-family: fantasy;
    text-align: center;
    background: #9ef1fe00;
    margin-right: 20px;
}

.alineadoAudio{
    width: 325px; /* Set a fixed width */
    margin-left: auto;
    background: #9ef1fe00;
}


.fondoAzul{
    background: #9ef1fe;
}